/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    flex-direction: column;
}
    

#score, #level, .pause-button {
    margin-top: 15px;
}

#board {
    margin-top: 30px;
    border: 4px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.start-button, .pause-button {
    margin: 10px;
}

.start-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4caf50; /* Green color */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #388e3c; /* Darker green on hover */
}

.pause-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #e91e63; /* Pink color */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pause-button:hover {
    background-color: #d81b60; /* Darker pink on hover */
}

#score, #level {
    text-align: center;
    margin-top: 15px;
}
